<% @title = "Sign up" %>

<div id="main" class='devise'>
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1>Code Journey</h1>
        <p class="p0 m0">Sign Up</p>
      </header>
    </div>
    <div class="row mt20">
      <%= form_for resource, as: resource_name, url: registration_path(resource_name),
                             html: { class: "form-horizontal col-xs-12 col-md-6 col-md-offset-3", novalidate: true } do |f| %>
        <%= f.error_notification %>

        <div class="sheet form-sheet">
          <div class="sheet-inner">
            <%= f.form_group :email do |f| %>
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, class: "" %>
              <%= f.error_messages %>
            <% end %>

            <%= f.form_group :password do |f| %>
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, class: "" %>
              <%= f.error_messages %>
            <% end %>

            <%= f.form_group :password_confirmation do |f| %>
              <%= f.label :password_confirmation, class: "form-label" %>
              <%= f.password_field :password_confirmation, class: "" %>
              <%= f.error_messages %>
            <% end %>
          </div>
        </div>

        <div class="form-actions text-right">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class="row mt20">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-right">
        <ul class="list-unstyled options">
          <li class="col-xs-12"><%= link_to "Log in", new_session_path(resource_name), class: '' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
