<% @title = "Forgot your password?" %>
<div id="main" class='devise'>
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1>Code Journey</h1>
        <p class="p0 m0">Login</p>
      </header>
    </div>
    <div class="row mt20">
      <%= form_for resource, as: resource_name, url: password_path(resource_name),
                             html: { method: :post, class: "form-horizontal col-xs-12 col-md-6 col-md-offset-3" } do |f| %>
        <%= f.error_notification %>

        <div class="sheet form-sheet form-inputs">
          <div class="sheet-inner">
            <%= f.form_group :email do |f| %>
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, class: "" %>
              <%= f.error_messages %>
            <% end %>
          </div>
        </div>

        <div class="form-actions text-right">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary mr15' %>
        </div>
      <% end %>
    </div>
    <div class="row mt50">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-right">
        <ul class="list-unstyled options">
          <li class="col-xs-12"><a href="/users/sign_in">Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
