<% content_for :body_class, "landing" %>

<% content_for :header do %>
<div class="bg"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <div class="text text-center">
        <h1>GET HIRED</h1>
        <p class='lead'>JOBS & INTERNSHIPS FOR CODING BOOTCAMP DEVELOPERS.</p>
        <a href="#" class='btn btn-outline-default btn-lg'>Join Now &rarr;</a>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 col-md-10 col-md-offset-1'>
      <div class="video">
        <div class="placeholder">
          <div class="play-btn">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-play fa-stack-1x"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<section class="features">
  <h2 class='h1'>How It Works</h2>
  <p class="lead">Create your very own Student Profile Page. (Always Free!)</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-trash'></i>
          <h4>Step 2</h4>
          <p>Qualified students will be matched to available jobs</p>
        </section>
      </div>
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-camera-retro'></i>
          <h4>Step 3</h4>
          <p>Once matched, you can apply with One Click!</p>
        </section>
      </div>
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-child'></i>
          <h4>Step 4</h4>
          <p>Companies can send you personal invites to apply as well</p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-car'></i>
          <h4>Step 5</h4>
          <p>Companies will have access to your entire profile! Github, Linkedin, Resume all in One Page!</p>
        </section>
      </div>
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-bell'></i>
          <h4>Step 6</h4>
          <p>Start and Ace your Interview</p>
        </section>
      </div>
      <div class="col-xs-12 col-md-4">
        <section>
          <i class='fa fa-lock'></i>
          <h4>Step 7</h4>
          <p>Match made in Heaven! Start your new Job and maybe send us a thank you email... jk...</p>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="getting-started">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-5 text-xs-center text-md-left">
          <h1>Ready?</h1>
          <p>Create your Student Profile completely Free. Complete your profile in less than 10 minutes.</p>
        </div>
        <div class="col-md-7 text-xs-center text-md-right ctas">
          <a class="btn btn-outline-default" href="#">Sign Up</a>
          <a class="btn btn-outline-primary" href="#">or see features &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='product-images'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <h2 class='h1 text-center'>Hire Qualified and Diverse Engineers</h2>
        <p class="lead text-center">Search and Hire the Best talent from every Coding Bootcamp</p>
        <div class="browser">
          <div class="browser__window">
            <img src="http://galvanize-wp.s3.amazonaws.com/wp-content/uploads/2015/03/10162553/class-sf-edit.jpg" width=1170 height=560>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='cta'>
  <div class="container">
    <div class="row">
      <div class='col-sm-12 col-md-9'>
        <h2 class='text-xs-center text-md-left'>One Simple Price per month gets you Unlimited Job Postings</h2>
        <p class='lead text-xs-center text-md-left'>$89.99/monthly subscription</p>
      </div>
      <div class='col-sm-12 col-md-3 text-right text-xs-center'>
        <a href="#" class='btn btn-outline-default'>Start Hiring &raquo;</a>
      </div>
    </div>
  </div>
</section>
