<!DOCTYPE html>
<%= html_tag :lang => "en" do %>
  <head>
    <meta charset="utf-8">
    <title><%= [@title, app_name].compact.join(" - ") %></title>
    <%= csrf_meta_tags %>

    <!-- Ensure devices display responsive pages properly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le fonts -->
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Sans:400,700" %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:300,400,700,900' %>

    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :styles %>

    <!-- This is for Google Maps integration, you can safely remove if not using Google Maps -->
    <%= javascript_include_tag "//maps.google.com/maps/api/js?sensor=true&.js" %>

    <!-- Le fav and touch icons -->
    <%= favicon_link_tag %>
    <%# favicon_link_tag "apple-touch-icon.png", :rel => "apple-touch-icon" %>

    <%= yield :head %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <%= render "layouts/navbar" %>

    <header>
      <%= yield :header %>
    </header>

    <%= yield :banner %>

    <div id="main" class="container-fluid">
      <div class="row">
        <%= yield %>
      </div> <!-- /.container -->
    </div> <!-- /#main -->

    <%= render "layouts/footer" %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" %>

    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
      Smooch.init({ appToken: '9rt3qn7gom41zzckaumxjm6kt' });
    </script>
  </body>
<% end %>
