<% content_for :navbar do %>
<div class="navbar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">Code Journey</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="#">WORK AT A BOOTCAMP?</a>
      </li>
      <li>
        <a href="#">FOR EMPLOYERS</a>
      </li>
      <li>
        <a href="#">FOR CODERS</a>
      </li>
      <li>
        <button class='btn btn-outline-primary sign-up'>CODER LOGIN</button>
      </li>
        <!-- <li><%= link_to "Logout", destroy_user_session_path, method: :delete %> -->
      </li>
    </ul>
  </div>
</div>
<% end %>

<%= render :layout => "layouts/base" do %>
  <%= yield %>
<% end %>
